<p>
	categorias works!
</p>

<br><br>

 <!-- <div class="container">

    <div *ngFor="let categoria of cs.categorias" class="col-lg-6 col-md-6 col-sm-6">
       
                   <div class="thumbnail">
                        <a href="#" class="caja-categorias">
                            <img src="{{ categoria.imagen }}" alt="...">
                                <div class="caja-categorias-caption">
                                    <div class="caja-categorias-caption-content">
                                        <div class="project-category text-faded">Empresa</div>
                                        <div class="project-name">{{ categoria.descripcion }}</div>
                                    </div>
                                </div>
                        </a>
                    </div>
              
                
           
        </div>
    </div>
           
  -->