<br><br><br><br>


<app-navbar></app-navbar> 

<app-marca></app-marca>

<app-categorias></app-categorias>

<app-descripcionempresa></app-descripcionempresa>

<app-productos></app-productos>

<app-carousel></app-carousel>

<app-nosotros></app-nosotros>

<app-servicios></app-servicios>

<app-equipo></app-equipo>

<app-promociones></app-promociones>

<app-clientes></app-clientes>

<app-ubicacion></app-ubicacion>

<app-frase></app-frase>

<app-contacto></app-contacto>

<app-redessociales></app-redessociales>

<app-footer></app-footer>

<div style="text-align:center">
  <h1>
    Implementando la {{title}}!
  </h1>

