<p>
	productos works!
</p>

<br><br>

<!--Categoria 1-1-->
<!-- <div *ngFor="let categoria of cs.categorias">

		<div class="navbar navbar-default" align="center">
		  <h3>{{ categoria.descripcion }}</h3>
		</div>

		<div class="container">
			<div class="row">
				<div *ngFor="let producto of ps.productos">
					<div *ngIf="categoria.descripcion == producto.categoria">
						<div class="col-lg-3" align="center">
							<div class="thumbnail">
								<a href="#" data-toggle="modal" data-target="#producto1">
									<img src="{{ producto.imagen }}" alt="...">
								</a>
								<div class="caption">
									<h3>{{ producto.descripcion }}</h3>
									<h4>{{ producto.empresa }}</h4>
									<h5>{{ producto.categoria }}</h5>
									<p>{{ producto.precio | currency:"COP" }}</p>
									<p><a href="#Contacto" class="btn btn-info" role="button">Comprar</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
</div>
 -->